# Terraform
besu-lab/infrastructure/.terraform/
besu-lab/infrastructure/*.tfstate
besu-lab/infrastructure/*.tfstate.backup
besu-lab/infrastructure/.terraform.lock.hcl
besu-lab/infrastructure/crash.log

# Ansible
*.retry
*.log
besu-lab/configuration/inventory/hosts.ini
besu-lab/configuration/.vault_pass

# Binaries and downloaded files
*.tar.gz
*.zip
*.iso
*.qcow2
*.pem
*.key
*.pub
besu-lab/besu-dist/
besu-lab/node-keys/
besu-lab/certs/

# OS/Editor
.DS_Store
.idea/
.vscode/

# Local plans / todo
besu-lab/todo/
